<a href="https://colab.research.google.com/github/pedd1-Srividya/DS-ML-Practice/blob/master/DS_ML_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of Python

In [ ]:
#comments
a=2
b=3
c=a+b #c is a variable and value of a and b has been added
'''
Multiline comment
Python is a case sensitive language
'''

'\nMultiline comment\nPython is a case sensitive language\n'

In [ ]:
#title print function
#syntax for print function
a=10
b=20
sum=a+b
print(sum)#valid synatx

30

In [ ]:
#printing hello world
print("Hello World")

Hello World

In [ ]:
# There are two parameters in print function
'''
1) end parameter
2) separated parameter
'''
# Print both statments in a single line
print('Hello World', end=' ')#Default value of end is '\n' (new line)
print('How r u?')
#separate two statements with @
print('rinex','gmail.com',sep='@')#Default value of sep is' '(space)

Hello World How r u?
rinex@gmail.com

In [ ]:
#Anything that can store any value in programming language is termed as variable
a=10# Here a is a variable
message='Hello World' # Here message is a variable
print(a)
print(message)
'''
Rules to write a variable
1) You cannot start the variable name with a anumber but you continue with it.
Ex: 1a - Invalid, a1- Valid
2) We cannot use keyboards as variable name.
Ex: print = 10(Invalid)
3) case sensitive
ex:
a=10
print(A)# Invalid syntax
a=10
print(a)# Valid syntax
'''

10
Hello World

'\nRules to write a variable\n1) You cannot start the variable name with a anumber but you continue with it.\nEx: 1a - Invalid, a1- Valid\n2) We cannot use keyboards as variable name.\nEx: print = 10(Invalid)\n3) case sensitive\nex:\na=10\nprint(A)# Invalid syntax\na=10\nprint(a)# Valid syntax\n'

# Basic Operators in python
1.Arthimetic Operators

2.Comparision Operators

3.Logical Operators

4.Assignment operators

In [ ]:
# @title Arthimetic Operators
'''
1) Addition(+)
2) Subtraction(-)
3) Division(/)
4) multiplication(*)
5) Modulus (Remainder)(%)
6) Floor Division(//)
7) Exponent(**)
'''
a=10
b=5
sum=a+b
print("sum is",sum)
diff=a-b
print("Difference is",diff)
qnt=a/b
print("Quotient is",qnt)
prod=a*b
print("Product is",prod)
mod=a%b
print("Remainder is",mod)
floor=a//b
print("Floor division is",floor)
exp=a**b
print("Exponent is",exp)

sum is 15
Difference is 5
Quotient is 2.0
Product is 50
Remainder is 0
Floor division is 2
Exponent is 100000

In [ ]:
# @title Comparision Operators
'''
1) Equal to(==)
2) Not Equal(!=)
3) Greater than(>)
4) Greater than or equal to(>=)
5) Lesser than(<)
6) Lesser than or equal to(<=)
'''
a=10
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

# Logical Operators

In [ ]:
# @title Logical Operators
'''
1) Logical AND(and)
2) Logical OR(or)
3) Logical NOT(not)
'''
#Get only the number greater than 5 and less than 10
num=int(input("Enter the number"))
cond=(num>5) and (num<10)
print(cond)

True

# CONDITIONAL OPERATORS
1.IF statement

2.IF ELSE statement

3.IF ELIF ELSE statement

In [ ]:
# @title syntax
if condition:
  statements
elif condition:
  statements
  ..
  ..
  ..
  ..
else:
  statements

In [ ]:
# @title Example1
#check if the number is greater than 0 or not
num=int(input("Enter a number"))
if num>0:
  print("number is greater than 0")
else:
  print("number is not greater than 0")

Enter a number5
number is greater than 0

In [ ]:
# @title Example2
#check if the number is +ve or -ve
num=int(input("Enter a number"))
if num>0:
  print("number is +ve")
elif num==0:
  print("number is 0")
else:
  print("number is -ve")

Enter a number2
number is +ve

In [ ]:
# @title Example3
#check if you are admin, then you have admin privilege else you have no access
username=input("Enter username")
admin_username='admin@321'
if username==admin_username:
  print("Welcome admin kindly enter your password")
  password=input("Enter password")
  admin_password='pass@321'
  if password==admin_password:
    print("Welcome admin, You have admin priviledge")
  else:
    print("Invalid password")
else:
  print("invalid username")

Enter usernameadmin@321
Welcome admin kindly enter your password
Enter passwordpass@321
Welcome admin, You have admin priviledge

In [ ]:
# @title Example4
#check if you user is eligible to vote (age >=18 )
age=int(input("Enter your age"))
if age>=18:
  print("user is Eligible to vote")
else:
  a=18-age
  print("User is not eligible to vote wait for",a,"years")

Enter your age15
User is not eligible to vote wait for 3 years

In [ ]:
# @title Example5
# check whether the given number is even or odd
num=int(input("Enter a number"))
if num%2==0:
  print("Number is even")
else:
  print("Number is odd")

Enter a number5
Number is odd

In [ ]:
# @title Example6
#Check if the number is Factor of 7
num=int(input("Enter a number"))
if num%7==0:
  print("Number is factor of 7")
else:
  print("Number is not a factor of 7")

Enter a number15
Number is not a factor of 7

In [ ]:
# @title Excercise1
#If the employee is working in the company for more than 5 years then he/she will get bonus of 50% to their current salary
work_experience=int(input("Enter your work experience"))
if work_experience>5:
  salary=float(input("Enter your current salary"))
  bonus=salary*0.5
  print("Your work experience is greater than 5 years so ur salary with bonus is:",salary+bonus)
else:
  print("No bonus")

Enter your work experience4
No bonus

In [ ]:
# @title Excercise2
#If the electricity units is less than 100 then no charge, else if the electricity unit is greater than 100 and lesser than
#200 then Rs.10 per unit. If the units is greater than 200 then Rs. 15 per unit
units=float(input("Enter the Electricity units"))
if units<=100:
  print("No Charge")
elif units>100 and units<=200:
  charge=(units-100)*10
  print("Electricity charge:",charge)
elif units>200:
  charge=1000+(units-200)*15
  print("Electricity charge:",charge)

Enter the Electricity units201
Electricity charge: 1015.0

In [ ]:
# @title Excercise3
# BMI Caluculator
# BMI=(Weight(KG))/(Height(M)**2)
# BMI <18.5 then Underweight
# BMI between 18.5 and 24.9 then normal weight
# BMI between 24.9 and 29.9 then overweight
# BMI >29.9 obese
height_m=float(input("Enter the height in meters"))
weight_kg=float(input("Enter the weight in kg"))
BMI=weight_kg/(height_m**2)
if BMI<18.5:
  print(f"Your BMI is {BMI} Underweight")
elif BMI>=18.5 and BMI<24.9:
  print(f"Your BMI is {BMI} NormalWeight")
elif BMI>=24.9 and BMI<29.9:
  print(f"Your BMI is {BMI} Overweight")
else:
  print(f"Your BMI is {BMI} obese")

Enter the height in meters1.61
Enter the weight in kg64
Your BMI is 24.690405462752206 NormalWeight

In [ ]:
# @title Excercise4
#Find whether the character is a vowel or a consonant
char=input("Enter any letter")
char_lower=char.lower()
vowel=['a','e','i','o','u']
if char_lower in vowel:
  print("The letter is vowel")
else:
  print("The letter is consonant")

Enter any letterA
The letter is vowel

# Datatype
1) Boolean
2) Number(int/float)
3) String
4) List
5) Dictionary

In [1]:
# @title Boolean
a=True
b=False
print(type(a))

<class 'bool'>

In [2]:
# @title Number
a=1
b=1.1
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [3]:
# @title String
a='Hello world'
print(type(a))
print(a[0])
print(a[-1])
print(a[0:5])
print(a[6:])

<class 'str'>
H
d
Hello
world

In [4]:
# @title Functions in String
a='My Name is abc'
print(a.lower())
print(a.upper())
print(len(a))
print(a.replace('abc','xyz'))

my name is abc
MY NAME IS ABC
14
My Name is xyz

In [5]:
# @title Lists
emp_name=['sam','John','Ram','Adam']
print(emp_name)
print(emp_name[0])
print(emp_name[-1])
print(emp_name[1:3])

['sam', 'John', 'Ram', 'Adam']
sam
Adam
['John', 'Ram']

In [16]:
# @title Dictionary: Key-value Pairs
employees=['adam','28','john','30','ram','28']
print(employees[3])
employees_list={'adam':28,'jhon':30,'ram':28}
print(employees_list['adam'])
print(employees_list.keys())
print(employees_list.values())
print(employees_list.items())

30
28
dict_keys(['adam', 'jhon', 'ram'])
dict_values([28, 30, 28])
dict_items([('adam', 28), ('jhon', 30), ('ram', 28)])

In [22]:
# @title Exercise
#User Authentication
database={
            'user1':'pass@123',
            'user2':'pass@456',
            'user3':'pass@789'

          }
username=input("Enter the username")
if username in database.keys():
  password=input("Enter the password")
  if password in database[username]:
    print("Welcome", username)
  else:
    print("Invalid password")
else:
  print("Invalid username")

Enter the usernameuser1
Enter the passwordpass@123
Welcome user1