<a href="https://colab.research.google.com/github/pedd1-Srividya/DS-AI-ML-And-Web-Devolopment-Practice/blob/master/DS_ML_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of Python

In [ ]:
# @title comments
a=2
b=3
c=a+b #c is a variable and value of a and b has been added
# press ctrl+enter to run the cell
# press ctrl+MB to create new sell
'''
Multiline comment
Python is a case sensitive language
'''

'\nMultiline comment\nPython is a case sensitive language\n'

In [ ]:
# @title print function
#syntax for print function
a=10
b=20
sum=a+b
print(sum)#valid synatx

30

In [ ]:
#printing hello world
print("Hello World")

Hello World

In [ ]:
# There are two parameters in print function
'''
1) end parameter
2) separated parameter
'''
# Print both statments in a single line
print('Hello World', end=' ')#Default value of end is '\n' (new line)
print('How r u?')
#separate two statements with @
print('rinex','gmail.com',sep='@')#Default value of sep is' '(space)

Hello World How r u?
rinex@gmail.com

In [ ]:
#Anything that can store any value in programming language is termed as variable
a=10# Here a is a variable
message='Hello World' # Here message is a variable
print(a)
print(message)
'''
Rules to write a variable
1) You cannot start the variable name with a anumber but you continue with it.
Ex: 1a - Invalid, a1- Valid
2) We cannot use keyboards as variable name.
Ex: print = 10(Invalid)
3) case sensitive
ex:
a=10
print(A)# Invalid syntax
a=10
print(a)# Valid syntax
'''

10
Hello World

'\nRules to write a variable\n1) You cannot start the variable name with a anumber but you continue with it.\nEx: 1a - Invalid, a1- Valid\n2) We cannot use keyboards as variable name.\nEx: print = 10(Invalid)\n3) case sensitive\nex:\na=10\nprint(A)# Invalid syntax\na=10\nprint(a)# Valid syntax\n'

# Basic Operators in python
1.Arthimetic Operators

2.Comparision Operators

3.Logical Operators

4.Assignment operators

In [ ]:
# @title Arthimetic Operators
'''
1) Addition(+)
2) Subtraction(-)
3) Division(/)
4) multiplication(*)
5) Modulus (Remainder)(%)
6) Floor Division(//)
7) Exponent(**)
'''
a=10
b=5
sum=a+b
print("sum is",sum)
diff=a-b
print("Difference is",diff)
qnt=a/b
print("Quotient is",qnt)
prod=a*b
print("Product is",prod)
mod=a%b
print("Remainder is",mod)
floor=a//b
print("Floor division is",floor)
exp=a**b
print("Exponent is",exp)

sum is 15
Difference is 5
Quotient is 2.0
Product is 50
Remainder is 0
Floor division is 2
Exponent is 100000

In [ ]:
# @title Comparision Operators
'''
1) Equal to(==)
2) Not Equal(!=)
3) Greater than(>)
4) Greater than or equal to(>=)
5) Lesser than(<)
6) Lesser than or equal to(<=)
'''
a=10
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

# Logical Operators

In [ ]:
# @title Logical Operators
'''
1) Logical AND(and)
2) Logical OR(or)
3) Logical NOT(not)
'''
#Get only the number greater than 5 and less than 10
num=int(input("Enter the number"))
cond=(num>5) and (num<10)
print(cond)

# CONDITIONAL STATEMENT
1.IF statement

2.IF ELSE statement

3.IF ELIF ELSE statement

In [ ]:
# @title syntax
if condition:
  statements
elif condition:
  statements
  ..
  ..
  ..
  ..
else:
  statements

In [ ]:
# @title Example1
#check if the number is greater than 0 or not
num=int(input("Enter a number"))
if num>0:
  print("number is greater than 0")
else:
  print("number is not greater than 0")

In [ ]:
# @title Example2
#check if the number is +ve or -ve
num=int(input("Enter a number"))
if num>0:
  print("number is +ve")
elif num==0:
  print("number is 0")
else:
  print("number is -ve")

In [ ]:
# @title Example3
#check if you are admin, then you have admin privilege else you have no access
username=input("Enter username")
admin_username='admin@321'
if username==admin_username:
  print("Welcome admin kindly enter your password")
  password=input("Enter password")
  admin_password='pass@321'
  if password==admin_password:
    print("Welcome admin, You have admin priviledge")
  else:
    print("Invalid password")
else:
  print("invalid username")

In [ ]:
# @title Example4
#check if you user is eligible to vote (age >=18 )
age=int(input("Enter your age"))
if age>=18:
  print("user is Eligible to vote")
else:
  a=18-age
  print("User is not eligible to vote wait for",a,"years")

In [ ]:
# @title Example5
# check whether the given number is even or odd
num=int(input("Enter a number"))
if num%2==0:
  print("Number is even")
else:
  print("Number is odd")

In [ ]:
# @title Example6
#Check if the number is Factor of 7
num=int(input("Enter a number"))
if num%7==0:
  print("Number is factor of 7")
else:
  print("Number is not a factor of 7")

In [ ]:
# @title Excercise1
#If the employee is working in the company for more than 5 years then he/she will get bonus of 50% to their current salary
work_experience=int(input("Enter your work experience"))
if work_experience>5:
  salary=float(input("Enter your current salary"))
  bonus=salary*0.5
  print("Your work experience is greater than 5 years so ur salary with bonus is:",salary+bonus)
else:
  print("No bonus")

In [ ]:
# @title Excercise2
#If the electricity units is less than 100 then no charge, else if the electricity unit is greater than 100 and lesser than
#200 then Rs.10 per unit. If the units is greater than 200 then Rs. 15 per unit
units=float(input("Enter the Electricity units"))
if units<=100:
  print("No Charge")
elif units>100 and units<=200:
  charge=(units-100)*10
  print("Electricity charge:",charge)
elif units>200:
  charge=1000+(units-200)*15
  print("Electricity charge:",charge)

In [ ]:
# @title Excercise3
# BMI Caluculator
# BMI=(Weight(KG))/(Height(M)**2)
# BMI <18.5 then Underweight
# BMI between 18.5 and 24.9 then normal weight
# BMI between 24.9 and 29.9 then overweight
# BMI >29.9 obese
height_m=float(input("Enter the height in meters"))
weight_kg=float(input("Enter the weight in kg"))
BMI=weight_kg/(height_m**2)
if BMI<18.5:
  print(f"Your BMI is {BMI} Underweight")
elif BMI>=18.5 and BMI<24.9:
  print(f"Your BMI is {BMI} NormalWeight")
elif BMI>=24.9 and BMI<29.9:
  print(f"Your BMI is {BMI} Overweight")
else:
  print(f"Your BMI is {BMI} obese")

In [ ]:
# @title Excercise4
#Find whether the character is a vowel or a consonant
char=input("Enter any letter")
char_lower=char.lower()
vowel=['a','e','i','o','u']
if char_lower in vowel:
  print("The letter is vowel")
else:
  print("The letter is consonant")

# Datatype
1) Boolean
2) Number(int/float)
3) String
4) List
5) Dictionary

In [ ]:
# @title Boolean
a=True
b=False
print(type(a))

In [ ]:
# @title Number
a=1
b=1.1
print(type(a))
print(type(b))

In [ ]:
# @title String
a='Hello world'
print(type(a))
print(a[0])
print(a[-1])
print(a[0:5])
print(a[6:])

In [ ]:
# @title Functions in String
a='My Name is abc'
print(a.lower())
print(a.upper())
print(len(a))
print(a.replace('abc','xyz'))

In [ ]:
# @title Lists
emp_name=['sam','John','Ram','Adam']
print(emp_name)
print(emp_name[0])
print(emp_name[-1])
print(emp_name[1:3])

In [ ]:
# @title Dictionary: Key-value Pairs
employees=['adam','28','john','30','ram','28']
print(employees[3])
employees_list={'adam':28,'jhon':30,'ram':28}
print(employees_list['adam'])
print(employees_list.keys())
print(employees_list.values())
print(employees_list.items())

In [ ]:
# @title Exercise
#User Authentication
database={
            'user1':'pass@123',
            'user2':'pass@456',
            'user3':'pass@789'

          }
username=input("Enter the username")
if username in database.keys():
  password=input("Enter the password")
  if password in database[username]:
    print("Welcome", username)
  else:
    print("Invalid password")
else:
  print("Invalid username")

# Looping Statements

In [ ]:
'''
1) For loop (Whenever we know the no. of iterations)
2) While loop (Whenever we do not know thw no. of iterations) - Infinite loop
#Syntax for for loop
for initialization_variable in condition:
  statements
#syntax for while loop
initialization_variable=value
while condition:
  statememts
  '''

In [ ]:
#print Hello for 10 times
for i in range(10):
  print("Hello!")

In [ ]:
#print Hello for 10 times
i=0
while i<10:
  print('hello')
  i+=1

In [ ]:
#print 0 to 10 numbers
for i in range(11):
  print(i)

In [ ]:
#print 0 to 10 numbers
i=0
while i<11:
  print(i)
  i+=1

In [ ]:
#print 1 to 10 numbers
for i in range(1,11):
  print(i)

In [ ]:
#print 1 to 10 numbers
i=1
while i<11:
  print(i)
  i+=1

In [ ]:
# print 5 to 10 numbers
for i in range(5,11,+1):
  print(i)

In [ ]:
# print 5 to 10 numbers
i=5
while i<=10:
  print(i)
  i+=1

In [ ]:
# print 10 to 1 numbers
for i in range(10,0,-1):
  print(i)

In [ ]:
# print 10 to 1 numbers
i=10
while i>=1:
  print(i)
  i-=1

In [ ]:
# print 5 to 50 bu only the 5 multiples
for i in range(5,51,+5):
  print(i)

In [ ]:
# print 5 to 50 bu only the 5 multiples
i=5
while i<=50:
  if i%5==0:
    print(i)
  i+=1

In [ ]:
# print 50 to 5 but only 5 multiples
for i in range(50,4,-5):
  print(i)

In [ ]:
# print 50 to 5 but only 5 multiples
i=50
while i>=5:
  if i%5==0:
    print(i)
  i-=1

In [ ]:
# print 17 to 170 but only 17 multiples
for i in range(17,171,+17):
  print(i)

In [ ]:
# print 17 to 170 but only 17 multiples
i=17
while i<=170:
  if i%17==0:
    print(i)
  i+=1

In [ ]:
# print 10 to 170 but only 13 multiples
for i in range(10,171):
  if i%13==0:
    print(i)

In [ ]:
# print 10 to 170 but only 13 multiples
i=10
while i<=170:
  if i%13==0:
    print(i)
  i+=1

In [ ]:
'''
*
*
*
*
*
'''
for i in range(5):
  print('*')

In [ ]:
i=1
while i<=5:
  print('*')
  i+=1

In [ ]:
'''
* * * * *
'''
for i in range(5):
  print('*', end=' ')

In [ ]:
i=1
while i<=5:
  print('*',end=' ')
  i+=1

In [ ]:
# @title Nested For Loop
'''
*****
*****
*****
*****
*****
'''
for i in range(5):
  for j in range(5):
    print('*' , end=' ')
  print(' ')

In [ ]:
'''
*
**
***
****
*****
'''
for i in range(6):
  for j in range(i):
    print('*',end=' ')
  print(' ')

In [ ]:
'''
*****
****
***
**
*
'''
for i in range(5,0,-1):
  for j in range(i):
    print('*',end=' ')
  print(' ')

In [ ]:
'''
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''
for i in range(6):
  for j in range(i):
    print(i,end=' ')
  print(' ')

In [ ]:
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print(' ')

In [ ]:
# Find the sum of the list using for loop
num_list=[34,34,6,56,34,656,67,54,5,7,98,32]
sum=0
for i in num_list:
  sum+=i
print(sum)

In [ ]:
# program to find factorial of a number using while loop
fact=1
i=int(input("Enter a value"))
while(i>0):
  fact=fact*i
  i=i-1
print(fact)

In [ ]:
# Check prime number
num=int(input("Enter the number"))
if num<=1:
  print("Number is not prime")
else:
  is_prime=True
  for i in range(2,num):
    if num%i==0:
      is_Prime=False
      break

  if is_prime:
    print("Number is prime")
  else:
    print("Number is not prime")

In [ ]:
# @title Excercise
#Display Menu program
while True:
  print("Calculator ")
  print("Option 1 - Sum")
  print("Option 2 - Difference")
  print('Option 3 - Product')
  print('Option 4 - Quotient')
  print('Option 5 - Quit')
  option = int(input("enter your choice"))
  if option == 1:
    num1=int(input("enter number 1"))
    num2=int(input("Enter number 2"))
    sum=num1+num2
    print("Sum",sum)
  elif option==2:
    num1=int(input("enter number 1"))
    num2=int(input("Enter number 2"))
    diff=num1-num2
    print("Difference",diff)
  elif option==3:
    num1=int(input("enter number 1"))
    num2=int(input("Enter number 2"))
    product=num1*num2
    print("Product",product)
  elif option==4:
    num1=int(input("enter number 1"))
    num2=int(input("Enter number 2"))
    Quotient=num1/num2
    print("Quotient",Quotient)
  elif option==5:
    print("Thank you")
    break
  else:
    print("Invalid choice")

In [ ]:
# @title Functions
'''
In python, a function is a reusable block of code that performs a specific task or a set of task.
'''

In [ ]:
# @title Example 1
# Code to return whether the given number is odd or even
def oddeven(num):
  if num%2==0:
    print("Even")
  else:
    print("Odd")
oddeven(5)

In [ ]:
# Code to return whether the given number is odd or even from user
def oddeven():
  while True:
    num=int(input("Enter the number"))
    if num==0:
      print("Number is zero")
      break
    elif num%2==0:
      print("Even")
    else:
      print("Odd")

In [ ]:
oddeven()

In [ ]:
# @title Lambda Functions
'''def add(x,y):
  sum=x+y
  print(sum)'''
def addsub(x,y):
  sum=x+y
  print(sum)
  sub=x-y
  print(sub)
add=lambda x,y:x+y
#we can use lambda for only one expression(disadv)

In [ ]:
addsub(3,4)

# Numpy

In [ ]:
# Numpy stands for Numerical python.
# Numpy is a python library used for working with arrays.
# Arrays is a collection of objects.

In [ ]:
# @title Steps to Import numpy and to use it
# Step 1: Import numpy library
import numpy as np
# Step 2: Convert list into a array
x=[1,2,3]
arr=np.array(x)
print(arr)

In [ ]:
# @title Example1
x=[1,2,3,4,5,6]
import numpy as np
arr=np.array(x)
print(arr+1)

In [ ]:
# @title Example2
# Find Remainder of each value when it is divided by 2
import numpy as np
x=[1,6,9,5]
arr=np.array(x)
print(arr%2)
# Find square of each array elements
print(arr**2)

In [ ]:
# @title Example3
# Converting a list into an array without declaring the list
import numpy as np
arr1=np.array([1,2,3,4,5])
arr2=np.array([6,7,8,9,10])
print(arr1)
print(arr2)
# Find Maximum value out of array 1
print(arr1.max())
print(np.max(arr1))
# Find Minimum value out of array 1
print(arr1.min())
print(np.min(arr1))
# Find average value out of array 1
print(arr1.mean())
print(np.mean(arr1))

In [ ]:
# @title Example4
# Find the dimension of the array
x=[1,2,3,4,5]
arr=np.array(x)
print(arr.ndim)

In [ ]:
# @title Example5
# Create 2D array
# Display 1st row
x=[[1,2,3,4,5],
   [6,7,8,9,10]]
arr=np.array(x)
print(arr.ndim)
print(arr[0])
print(arr[1])
print(arr[0:,0])

In [ ]:
# @title Steps to create multi dimensional arrays
# Step 1: Create Outermost array
x=[]
# step 2: Create Inner Array
x=[[],[]]
# Step 3: Create Inner most array
x=[[[],[]],[[],[]]]

In [ ]:
# @title Random Number Library
# Exploring the random number library
import numpy as np
from numpy import random
x=(random.randint(10))
arr=np.array(x)
print(arr)

In [ ]:
# @title Example1
# Create 1D array using random library
x=(random.randint(10, size=(5)))
arr=np.array(x)
print(arr)

In [ ]:
# title Example2
# Create 2D array using random library
x=(random.randint(10, size=(5,3)))
arr=np.array(x)
print(arr)

In [ ]:
# @title Example3
# Create 3D using random library
x=(random.randint(10, size=(2,5,3)))
arr=np.array(x)
print(arr)

In [ ]:
# @A-Range function
'''
It is similar to range function but returns array
'''
import numpy as np
x=np.arange(1,11)
print(x)

In [ ]:
# @title Example1
# Change the datatype
x=np.arange(1,11,dtype=float)
print(x)

In [ ]:
# @title Example2
# print the factors from 5 to 50
x=np.arange(5,51,5)
print(x)

In [ ]:
# @title Example3
# Print array containing ones
x=np.ones(10, dtype=int)
print(x)

In [ ]:
# @title Example4
# Print 2D array contatining zeros
x=np.zeros([2,4], dtype=int)
print(x)

In [ ]:
# @title Example5
# Print Identity Matrix
x=np.identity(3, dtype=int)
print(x)

In [ ]:
# @title Example6
import numpy as np
x=np.eye(4,k=1,dtype=int)#k=offset value
print(x)

In [ ]:
# Convert 1D array into 2D array
x=np.arange(10)
print(x)
'''
Factors of 10
1*10
10*1
5*2
2*5
'''
reshaped=x.reshape(5,2)
print("Reshaped Array:",reshaped)
print("Reshaped Array dimension:",reshaped.ndim)

In [ ]:
# Convert 1D array into 3D array
x=np.arange(20)
print(x)
reshaped=x.reshape(2,5,2)
print("Reshaped Array:",reshaped)
print("Reshaped Array dimension:",reshaped.ndim)

In [ ]:
# Convert 2D array into 3D array
x=np.array([[1,2,3,4,5],[6,7,8,9,10]])
print("Original array",x)
print("Original array dimension",x.ndim)
reshaped=x.reshape(10,1,1)
print("Reshaped array:",reshaped)
print("Reshaped array dimension:",reshaped.ndim)

In [ ]:
# Convert 2D array into 1D array
x=np.array([[1,2,3,4,5],[6,7,8,9,10]])
print("Original array",x)
print("Original array dimension",x.ndim)
reshaped=x.reshape(10)
print("Reshaped array:",reshaped)
print("Reshaped array dimension:",reshaped.ndim)

In [ ]:
# @title Accessing Array Elements
'''
1) Slicing
2) Integer Array Indexing
3) Boolean Array Indexing
'''

In [ ]:
# @title Slicing
import numpy as np
arr1=np.array([1,2,3])
# Access only 2 from the given array
print(arr1[1])
# Access only 3 from the given array
print(arr1[2])
arr2=np.array([[1,2,3],
               [4,5,6]])
# Access only 1 from the given array
print(arr2[0][0])
# Access only 5 from the given array
print(arr2[1][1])

In [ ]:
# @title Integer Array Indexing
import numpy as np
arr1=np.array([1,2,3])
# Access only 2 from the given array
print(arr1[1])
# Access only 3 from the given array
print(arr1[2])
arr2=np.array([[1,2,3],
               [4,5,6]])
# Access only 1 from the given array
print(arr2[0,0])
# Access only 5 from the given array
print(arr2[1,1])

In [ ]:
# @title Boolean Array Indexing
import numpy as np
arr=np.array([[35,5,23,1,43,12,34,34,345,23,23],
              [12,34,34,23,23,34,76,54,76,87,56]])
print("Extract only those values which ar greater than 50")
cond=(arr>50)
print('Values that are greater than 50:',arr[cond])

In [ ]:
arr=np.array([[35,5,23,1,43,12,34,34,345,23,23],
              [12,34,34,23,23,34,76,54,76,87,56]])
print("Extract only those values which are not divisible by 2 or basically extract odd numbers")
print("Values that are odd:",arr[arr%2!=0])

In [ ]:
# @title Student Report Dataset
import numpy as np
students_array=np.array([['Student_1',59,64,94,87,81],
                         ['Student_2',8,56,18,58,69],
                         ['Student_3',7,20,60,63,42],
                         ['Student_4',71,94,71,68,13],
                         ['Student_5',89,1,16,33,40],
                         ['Student_6',4,25,48,41,84],
                         ['Student_7',3,79,46,9,71],
                         ['Student_8',87,77,75,15,69],
                         ['Student_9',61,1,48,98,23],
                         ['Student_10',98,60,24,66,56],
                         ['Student_11',58,12,75,7,98],
                         ['Student_12',23,62,6,35,37],
                         ['Student_13',14,25,87,56,8],
                         ['Student_14',68,1,81,11,61],
                         ['Student_15',11,69,35,17,66]],dtype=object)

In [ ]:
# @title Task1
# Accessing all names of the students
#students_array[0:15,0]
students_array[:,0]

In [ ]:
# @title Task2
# Find the average of subject 1
sub1=students_array[:,1]
print("Average of subject1 is:",sub1.mean())

In [ ]:
# @title Task3
# Find the average of subject 4
sub4=students_array[:,4]
print("Average of subject 4:",sub4.mean())

In [ ]:
# @title Task4
# Find the average of student 7
student7=students_array[6,1:]
print("Average of Student 7:",student7.mean())

In [ ]:
# @title Task5
# Find the average of student 7 for subject 2 to 4
student7=students_array[6,2:5]
print(student7.mean())

In [ ]:
# @title Task6
# Find the name andcount of students where subject 1 marks is greater than subject 2 marks
student=students_array[:,1]>students_array[:,2]
print(students_array[student,0])
print("Count:",len(students_array[student]))

In [ ]:
# @title Task7
# Find the student average of first 10 students
average=students_array[0:10,1:]
print("Students average of first 10 students:",average.mean(axis=1))# Axis=1 means row wise average

# Find the subject average of first 10 students
average=students_array[0:10,1:]
print("Subject average of first 10 students:",average.mean(axis=0))# Axis=1 means column wise average

In [ ]:
# @title Task8
# Find the subject average of 1,3 and 4 subject
average=students_array[:,[1,3,4]]
print(average.mean(axis=0))

In [ ]:
# @title Task9
# Find the subject average of student 5 to student 14
average=students_array[4:14,1:]
print(average.mean(axis=0))

In [ ]:
# @title Task10
# Find all the student names who scored higher than student 15 in both subject1 and subject 2
student15_1=students_array[14,1]
sub1=students_array[:,1]
student15_2=students_array[14,2]
sub2=students_array[:,2]
student15=(sub1>student15_1) & (sub2>student15_2)
print(students_array[student15,0:3])

In [ ]:
# @title Task11
# Find all the student names who scored higher than student 11 either in subject 1 or subject 5
student11_1=students_array[10,1]
sub1=students_array[:,1]
student11_5=students_array[10,5]
sub5=students_array[:,5]
student11=(sub1>student11_1) | (sub5>student11_5)
print(students_array[student11,0:3])

In [ ]:
# @title Bank Customer Dataset
# Age,Employement,marital Status,Balance,Personal Loan,Car Loan,Connection,Month of Join
import numpy as np
banking_array = np.array([[30.0, 'unemployed', 'married', 1787.0, 'no', 'no', 'cellular','oct'],

       [33.0, 'services', 'married', 4789.0, 'yes', 'yes', 'cellular','may'],

       [35.0, 'management', 'single', 1350.0, 'yes', 'no', 'cellular','apr'],

       [30.0, 'management', 'married', 1476.0, 'yes', 'yes', 'unknown','jun'],

       [59.0, 'blue-collar', 'married', 0.0, 'yes', 'no', 'unknown','may'],

       [35.0, 'management', 'single', 747.0, 'no', 'no', 'cellular','feb'],

       [36.0, 'self-employed', 'married', 307.0, 'yes', 'no', 'cellular','may'],

       [39.0, 'technician', 'married', 147.0, 'yes', 'no', 'cellular','may'],

       [41.0, 'entrepreneur', 'married', 221.0, 'yes', 'no', 'unknown','may'],

       [43.0, 'services', 'married', -88.0, 'yes', 'yes', 'cellular','apr'],

       [39.0, 'services', 'married', 9374.0, 'yes', 'no', 'unknown','may'],

       [43.0, 'admin.', 'married', 264.0, 'yes', 'no', 'cellular', 'apr'],

       [36.0, 'technician', 'married', 1109.0, 'no', 'no', 'cellular','aug'],

       [20.0, 'student', 'single', 502.0, 'no', 'no', 'cellular', 'apr'],

       [31.0, 'blue-collar', 'married', 360.0, 'yes', 'yes', 'cellular','jan'],

       [40.0, 'management', 'married', 194.0, 'no', 'yes', 'cellular','aug'],

       [56.0, 'technician', 'married', 4073.0, 'no', 'no', 'cellular','aug'],

       [37.0, 'admin.', 'single', 2317.0, 'yes', 'no', 'cellular', 'apr'],

       [25.0, 'blue-collar', 'single', -221.0, 'yes', 'no', 'unknown','may'],

       [31.0, 'services', 'married', 132.0, 'no', 'no', 'cellular','jul']], dtype=object)

In [ ]:
# @title Task1
# Finding unique values from the employment column
np.unique(banking_array[:,1])

array(['admin.', 'blue-collar', 'entrepreneur', 'management',
       'self-employed', 'services', 'student', 'technician', 'unemployed'],
      dtype=object)

In [ ]:
# @title Task2
# Find the count of customers who has taken a personal loan
Personal_loan=(banking_array[:,4]=='yes')
np.count_nonzero(Personal_loan)

13

In [ ]:
# @title Task3
# Find the count of customers who has connection and has taken a car loan
conn=(banking_array[:,6]=='cellular')
car_loan=(banking_array[:,5]=='yes')
merge_cond=(conn) & (car_loan)
print(np.count_nonzero(merge_cond))

4

In [ ]:
# @title Task4
# find the count of customers with personal loan and are married and has car loan
personal_loan=(banking_array[:,4]=='yes')
married=(banking_array[:,2]=='married')
car_loan=(banking_array[:,5]=='yes')
cond=(personal_loan) & (married) & (car_loan)
print(np.count_nonzero(cond))

4

In [ ]:
# @title Task5
# Find the count of customers whose age is greater than 35 and less than 50 and also find the bank balance of these customers
age=(banking_array[:,0]>35) & (banking_array[:,0]<50)
print(np.count_nonzero(age))
overall=(banking_array[:,3])
print(banking_array[age,3].sum())

9
13845.0

In [ ]:
# @title Task6
# Find the count of customers whose profession is management and is married and has cellular connection
profession=(banking_array[:,1]=='management')
married=(banking_array[:,2]=='married')
cellular=(banking_array[:,6]=='cellular')
cond=(profession) & (married) & (cellular)
print(np.count_nonzero(cond))

1

In [ ]:
# @title Task7
#Find the Count who are single but have more than average bank balance
single=(banking_array[:,2]=='single')
balance=(banking_array[:,3]).astype(float)
avg_bal=balance.mean()
cond=(single) & (balance>avg_bal)
print(np.count_nonzero(cond))

1

In [ ]:
# @title Task 7
'''
Company has decided to give a bonus of 5% of their account balance to those account holders where age is more than or equal
to 55 years and whose account balance is more than 2000. Calculate the sum of the total bank balance to the account holders
after crediting thier bonus amount.
'''
age=(banking_array[:,0])
balance=(banking_array[:,3])
cond=(age>=55) & (balance>2000)
total_bal=balance[cond]
bonus=total_bal*0.05
print("Total balance before the bonus",total_bal)
print("Sum of total banl balance to the account holders after crediting their bonus amount is",bonus+total_bal)

Total balance before the bonus [4073.0]
Sum of total banl balance to the account holders after crediting their bonus amount is [4276.65]

In [ ]:
# @title Task 8
'''
Company has decided if the age of the customer is less than 25 then his balance will be credited with 2000
and if it is above then credit 1000.
'''
age=(banking_array[:,0])
balance=(banking_array[0:,3])
cond1=(age<25)
cond2=(age>=25)
totbal_under_25=balance[cond1]
totbal_over_25=balance[cond2]
bonus1=totbal_under_25+2000
bonus2=totbal_over_25+1000
print("the age of the customer is less than 25 then his balance will be credited with 2000",bonus1)
print("the age of the customer is above than 25 then his balance will be credited with 1000",bonus2.sum())

the age of the customer is less than 25 then his balance will be credited with 2000 [2502.0]
the age of the customer is above than 25 then his balance will be credited with 1000 47338.0

# **PANDAS**

In [ ]:
#Importing pandas in python
import numpy as np
import pandas as pd

In [ ]:
# Series - Multiple rows and single column
values=[100,200,300,400,500]
series=pd.Series(values)
print(series)

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [ ]:
# Changing the index value
values=[100,200,300,400,500]
series=pd.Series(values,index=[1,2,3,4,5])
print(series)

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [ ]:
# DataFrame - Multiple rows and multiple columns
values=[100,200,300,400,500]
names=['A1','A2','A3','A4','A5']
df=pd.DataFrame([names,values])
#Convert the horizontal row to vertical columns
df=df.transpose()
df.columns=['Names','Columns']
df

  Names Columns
0    A1     100
1    A2     200
2    A3     300
3    A4     400
4    A5     500

# Analysis(Titanic Dataset)

In [ ]:
# Read CSV file into DataFrame
import pandas as pd
df=pd.read_csv('Titanic.csv')
df
# To accept excel file
# df=pd.read_excel('file_name.xlsx')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Shape function(To get count of rows and columns)
df.shape
#Rows
df.shape[0]
#columns
df.shape[1]

12

In [ ]:
# To get size of the dataset
df.size

11988

In [ ]:
# Describe Function
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Indexing of the columns
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
994     NaN
995     NaN
996     NaN
997     NaN
998     NaN
Name: Age, Length: 999, dtype: float64

In [ ]:
# Indexing Multiple columns
df[['Name','Age','Fare']]

                                                  Name   Age     Fare
0                              Braund, Mr. Owen Harris  22.0   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.2833
2                               Heikkinen, Miss. Laina  26.0   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.1000
4                             Allen, Mr. William Henry  35.0   8.0500
..                                                 ...   ...      ...
994                                                NaN   NaN      NaN
995                                                NaN   NaN      NaN
996                                                NaN   NaN      NaN
997                                                NaN   NaN      NaN
998                                                NaN   NaN      NaN

[999 rows x 3 columns]

In [ ]:
# get the maximum value from age column
df['Age'].max()

80.0

In [ ]:
# @title step-1:Data Preprocessing
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    float64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(7), object(5)
memory usage: 93.8+ KB

In [ ]:
# Check the null values
df.isnull().sum()

PassengerId    108
Survived       108
Pclass         108
Name           108
Sex            108
Age            285
SibSp          108
Parch          108
Ticket         108
Fare           108
Cabin          795
Embarked       110
dtype: int64

In [ ]:
# Removing null values where entire row is null
#df.dropna(how='all')#temprary removing
# Permanent
df.dropna(how='all',inplace=True)

In [ ]:
# Memory Usage
df.memory_usage()

Index          7128
PassengerId    7128
Survived       7128
Pclass         7128
Name           7128
Sex            7128
Age            7128
SibSp          7128
Parch          7128
Ticket         7128
Fare           7128
Cabin          7128
Embarked       7128
dtype: int64

In [ ]:
# Converting datatype
#df['Age'].dtype
df[['PassengerId','Survived','Pclass','SibSp','Parch']].astype('int8')

     PassengerId  Survived  Pclass  SibSp  Parch
0              1         0       3      1      0
1              2         1       1      1      0
2              3         1       3      0      0
3              4         1       1      1      0
4              5         0       3      0      0
..           ...       ...     ...    ...    ...
886          119         0       2      0      0
887          120         1       1      0      0
888          121         0       3      1      2
889          122         1       1      0      0
890          123         0       3      0      0

[891 rows x 5 columns]

In [ ]:
# Converting datatype
# df['PassengerId'].dtype
df[['PassengerId','Survived','Pclass','SibSp','Parch']] = df[['PassengerId','Survived','Pclass','SibSp','Parch']].astype('int8')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.memory_usage()

Index          7128
PassengerId     891
Survived        891
Pclass          891
Name           7128
Sex            7128
Age            7128
SibSp           891
Parch           891
Ticket         7128
Fare           7128
Cabin          7128
Embarked       7128
dtype: int64

In [ ]:
# Printing the preview of the dataset
# Display first 20 rows
df.head(20)
# Display last 20 rows
df.tail(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
871,104,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,105,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,106,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,107,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,108,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,109,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,110,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,111,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,112,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,113,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,114,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,115,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,116,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,117,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,118,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.head(-10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
876,109,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,110,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,111,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,112,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,113,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S

In [ ]:
# Deleting Particular column
df.drop(['Ticket','Cabin'],inplace=True,axis=1)

In [ ]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Removing rows
df.drop([0,2],axis=0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,S
...,...,...,...,...,...,...,...,...,...,...
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Renaming the columns
df.rename(columns={'Pclass':'Class'},inplace=True)

In [ ]:
df

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Find unique values from a given column
pd.unique(df['Survived'])

array([0, 1], dtype=int8)

In [ ]:
# Titanic analysis
# Find the no. of male and female in the dataset
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
df['Sex'].value_counts().reset_index()

      Sex  count
0    male    577
1  female    314

In [ ]:
# Loc and the Iloc function
# Loc(location)
# Iloc(Index Location)
df.iloc[20:31,0]

20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
Name: PassengerId, dtype: int8

In [ ]:
df.iloc[20:31,0:2]

    PassengerId  Survived
20           21         0
21           22         1
22           23         1
23           24         1
24           25         0
25           26         1
26           27         0
27           28         0
28           29         1
29           30         0
30           31         0

In [ ]:
df.iloc[20:31,[1,3]]

    Survived                                               Name
20         0                               Fynney, Mr. Joseph J
21         1                              Beesley, Mr. Lawrence
22         1                        McGowan, Miss. Anna "Annie"
23         1                       Sloper, Mr. William Thompson
24         0                      Palsson, Miss. Torborg Danira
25         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26         0                            Emir, Mr. Farred Chehab
27         0                     Fortune, Mr. Charles Alexander
28         1                      O'Dwyer, Miss. Ellen "Nellie"
29         0                                Todoroff, Mr. Lalio
30         0                           Uruchurtu, Don. Manuel E

In [ ]:
df.loc[20:30,['Name','Survived']]

                                                 Name  Survived
20                               Fynney, Mr. Joseph J         0
21                              Beesley, Mr. Lawrence         1
22                        McGowan, Miss. Anna "Annie"         1
23                       Sloper, Mr. William Thompson         1
24                      Palsson, Miss. Torborg Danira         0
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...         1
26                            Emir, Mr. Farred Chehab         0
27                     Fortune, Mr. Charles Alexander         0
28                      O'Dwyer, Miss. Ellen "Nellie"         1
29                                Todoroff, Mr. Lalio         0
30                           Uruchurtu, Don. Manuel E         0

In [ ]:
# Find the no. of people with age greater than or equal to 18
# Step-1: Accessing the column
df['Age']
# Step-2: Apply the condition
df['Age']>=18
# Step-3: Wrapping the condition with df
df[df['Age']>=18]

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
885,118,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250,Q
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Displaying all the rows with class 3 and age greater than 18
df[(df['Class']==3) & (df['Age']>=18)]

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
881,114,0,3,"Markun, Mr. Johann",male,33.0,0,0,7.8958,S
882,115,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,10.5167,S
884,117,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500,S
885,118,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250,Q
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Passenger should be in class 2 or embarked s
df[(df['Class']==2) | (df['Embarked']=='S')]

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,S
...,...,...,...,...,...,...,...,...,...,...
883,116,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,10.5000,S
884,117,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500,S
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S

In [ ]:
# Display the data where class is either 2 or 3
#df[(df['Class']==2) | (df['Class']==3)]
df[df['Class'].isin([2,3])]

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750,S
...,...,...,...,...,...,...,...,...,...,...
884,117,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500,S
885,118,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250,Q
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
890,123,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [ ]:
# Filter out all the data where Fare is less than 100 and Embarked should be either S or C
df[(df['Fare']<100) & (df['Embarked'].isin(['S','C']))]

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
884,117,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500,S
886,119,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,120,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,122,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C

In [ ]:
# Sorting Function
# Sort age column in ascending order
df.sort_values(by='Age')

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
803,36,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,8.5167,C
755,-12,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,14.5000,S
644,-123,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,19.2583,C
469,-42,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,19.2583,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,29.0000,S
...,...,...,...,...,...,...,...,...,...,...
859,92,0,3,"Razi, Mr. Raihed",male,NaN,0,0,7.2292,C
863,96,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,69.5500,S
868,101,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,9.5000,S
878,111,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,7.8958,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S

In [ ]:
# Sort age column in descending order
df.sort_values(by='Age',ascending=False)

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
630,119,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,30.0000,S
851,84,0,3,"Svensson, Mr. Johan",male,74.0,0,0,7.7750,S
493,-18,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,49.5042,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,34.6542,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,7.7500,Q
...,...,...,...,...,...,...,...,...,...,...
859,92,0,3,"Razi, Mr. Raihed",male,NaN,0,0,7.2292,C
863,96,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,69.5500,S
868,101,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,9.5000,S
878,111,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,7.8958,S
888,121,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S

In [ ]:
# Sort fare in ascending
df.sort_values(by='Fare')

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
815,48,0,1,"Fry, Mr. Richard",male,NaN,0,0,0.0000,S
806,39,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,0.0000,S
413,-98,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,0.0000,S
481,-30,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,0.0000,S
302,47,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,0.0000,S
...,...,...,...,...,...,...,...,...,...,...
438,-73,0,1,"Fortune, Mr. Mark",male,64.0,1,4,263.0000,S
341,86,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,263.0000,S
737,-30,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,512.3292,C
679,-88,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,512.3292,C
258,3,1,1,"Ward, Miss. Anna",female,35.0,0,0,512.3292,C

In [ ]:
# Sort fare in descnding
df.sort_values(by='Fare',ascending=False)

,PassengerId,Survived,Class,Name,Sex,Age,SibSp,Parch,Fare,Embarked
679,-88,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,512.3292,C
258,3,1,1,"Ward, Miss. Anna",female,35.0,0,0,512.3292,C
737,-30,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,512.3292,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,263.0000,S
438,-73,0,1,"Fortune, Mr. Mark",male,64.0,1,4,263.0000,S
...,...,...,...,...,...,...,...,...,...,...
806,39,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,0.0000,S
815,48,0,1,"Fry, Mr. Richard",male,NaN,0,0,0.0000,S
466,-45,0,2,"Campbell, Mr. William",male,NaN,0,0,0.0000,S
481,-30,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,0.0000,S
822,55,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,0.0000,S

In [ ]:
# Groupby function
# Find average age of male and female
df.groupby(by='Sex')['Age'].mean().reset_index()

      Sex        Age
0  female  27.915709
1    male  30.726645

In [ ]:
# @title NBA Dataset Analysis
import pandas as pd
df=pd.read_csv('nba.csv')
df

,Name,Team,Number,Position,Age,Height(Inch),Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6.2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6.6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6.5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6.5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6.1,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,6.1,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6.3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6.1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7.3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7.0,231,Kansas,947276.0

In [ ]:
# Rows and Columns
df.shape

(457, 9)

In [ ]:
#Size
df.size

4113

In [ ]:
#DEscription of the dataset
df.describe()

           Number         Age  Height(Inch)      Weight        Salary
count  457.000000  457.000000    457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731      6.517133  221.522976  4.842684e+06
std     15.966090    4.404016      0.352205   26.368343  5.229238e+06
min      0.000000   19.000000      5.110000  161.000000  3.088800e+04
25%      5.000000   24.000000      6.110000  200.000000  1.044792e+06
50%     13.000000   26.000000      6.600000  220.000000  2.839073e+06
75%     25.000000   30.000000      6.800000  240.000000  6.500000e+06
max     99.000000   40.000000      7.300000  307.000000  2.500000e+07

In [ ]:
# Information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          457 non-null    object
 1   Team          457 non-null    object
 2   Number        457 non-null    int64
 3   Position      457 non-null    object
 4   Age           457 non-null    int64
 5   Height(Inch)  457 non-null    float64
 6   Weight        457 non-null    int64
 7   College       373 non-null    object
 8   Salary        446 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 32.3+ KB

In [ ]:
# Checking null values
df.isnull().sum()

Name             0
Team             0
Number           0
Position         0
Age              0
Height(Inch)     0
Weight           0
College         84
Salary          11
dtype: int64

In [ ]:
# Renaming the columns
df.rename(columns={'Height(Inch)':'Height(feet)','Weight':'Weight(Pounds)','Number':'Chest_number'},inplace=True)

In [ ]:
df

,Name,Team,Chest_number,Position,Age,Height(feet),Weight(Pounds),College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6.2,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6.6,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,6.5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6.5,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,6.1,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,6.1,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,6.3,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,6.1,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,7.3,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7.0,231,Kansas,947276.0

In [ ]:
# @title Q1
# Find the name of the player with highest salary
df[(df['Salary']>=df['Salary'].max())][['Name','Salary']]

            Name      Salary
109  Kobe Bryant  25000000.0

In [ ]:
# @title Q2
# Find the no. of players weighing above 180 pounds
print(df[(df['Weight(Pounds)']>180)]['Weight(Pounds)'].count())

431

In [ ]:
# @title Q3
# Filter out all the players with height less than 6.2 and count
# the no. of players
print(df[(df['Height(feet)']<6.2)]['Height(feet)'].count())

117

In [ ]:
# @title Q4
# Filter the data with more than 35 years of age.
# Find no. of records for "PF" position
print(df[(df['Age']>35) & (df['Position']=='PF')]['Position'].count())

6

In [ ]:
# @title Q5
# Which team value has the highest occurance in the data
df['Team'].value_counts().reset_index()

                      Team  count
0     New Orleans Pelicans     19
1        Memphis Grizzlies     18
2          New York Knicks     16
3          Milwaukee Bucks     16
4            Brooklyn Nets     15
5           Boston Celtics     15
6     Los Angeles Clippers     15
7       Los Angeles Lakers     15
8             Phoenix Suns     15
9         Sacramento Kings     15
10           Chicago Bulls     15
11      Philadelphia 76ers     15
12         Toronto Raptors     15
13   Golden State Warriors     15
14          Indiana Pacers     15
15         Detroit Pistons     15
16     Cleveland Cavaliers     15
17        Dallas Mavericks     15
18         Houston Rockets     15
19       San Antonio Spurs     15
20           Atlanta Hawks     15
21       Charlotte Hornets     15
22              Miami Heat     15
23      Washington Wizards     15
24          Denver Nuggets     15
25   Oklahoma City Thunder     15
26               Utah Jazz     15
27  Portland Trail Blazers     15
28           Orlando Magic     14
29  Minnesota Timberwolves     14

In [ ]:
# @title Q6
# Which team has the highest no. of young players ( Age is less than or equal to 25) playing in the position "PF" or "SF".
df[(df['Age']<=25) & (df['Position']=='SF') | (df['Position']=='PF')]['Team'].value_counts().reset_index()

                      Team  count
0        Memphis Grizzlies      8
1       Philadelphia 76ers      7
2            Chicago Bulls      7
3          Toronto Raptors      6
4          Detroit Pistons      6
5          New York Knicks      6
6       Los Angeles Lakers      5
7           Indiana Pacers      5
8   Portland Trail Blazers      5
9   Minnesota Timberwolves      5
10              Miami Heat      5
11         Houston Rockets      5
12         Milwaukee Bucks      5
13   Golden State Warriors      5
14           Orlando Magic      5
15           Atlanta Hawks      4
16       Charlotte Hornets      4
17    Los Angeles Clippers      4
18           Brooklyn Nets      4
19          Boston Celtics      4
20       San Antonio Spurs      4
21        Dallas Mavericks      4
22   Oklahoma City Thunder      4
23      Washington Wizards      4
24    New Orleans Pelicans      4
25            Phoenix Suns      3
26          Denver Nuggets      3
27        Sacramento Kings      3
28               Utah Jazz      3
29     Cleveland Cavaliers      2

In [ ]:
# @title Q7
# What is theb sum of the salaries of all players with chest number 41?
print(df[df['Chest_number']==41]['Salary'].sum())

22264701.0

In [ ]:
# @title Q8
# What is the average salary recieved by players who are 23 or younger in the team 'Chicago Bulls'
print(df[(df['Age']<=23) & (df['Team']=='Chicago Bulls')]['Salary'].mean())

958126.5

In [ ]:
# @title Q9
# What is the average age of players from rows 201 to 250?
print(df.iloc[201:251,4].mean())

26.62

In [ ]:
# Creating a new column
df['Weight(Kgs)']=df['Weight(Pounds)']/2.2046

In [ ]:
# @title Q10
# What is the weight in KGs for 112th record (111th Index)?
df.loc[111,'Weight(Kgs)']

np.float64(122.47119658895036)

In [ ]:
df['Height(m)']=df['Height(feet)']*0.3048

In [ ]:
# @title BMI
# Calculate BMI of the players
df['BMI']=df['Weight(Kgs)']/(df['Height(m)']**2)

In [ ]:
'''
Create a new columns with the name "BMI Evaluation".
Assign the BMI status based on the following condition,
BMI <= 18.4 - "Underweight"
BMI <= 24.9 - "Healthy"
BMI <= 29.9 - "Over Weight"
BMI <= 34.9 - "Severly Over Weight"
BMI <= 39.9 - "Obese"
BMI > 39.9 - "Severly Obese"
'''
# Create an empty list to store categories
BMI_Category=[]
# Loop through BMI values
for bmi in df['BMI']:
  if bmi <= 18.4:
    BMI_Category.append('Underweight')
  elif bmi <= 24.9:
    BMI_Category.append('Healthy')
  elif bmi <= 29.9:
    BMI_Category.append('Over Weight')
  elif bmi <=34.9:
    BMI_Category.append('Severly Over Weight')
  elif bmi <=39.9:
    BMI_Category.append('Obese')
  else:
    BMI_Category.append('Severly Obese')
df['BMI_Evaluation']=BMI_Category

In [ ]:
# @title Q11
# Check the count of different categories in BMI Evaluation
df['BMI_Evaluation'].value_counts().reset_index()

        BMI_Evaluation  count
0              Healthy    262
1          Over Weight    115
2  Severly Over Weight     68
3                Obese     11
4        Severly Obese      1